# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_...
STRIPE_SANDBOX_API=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Firebase Configuration
# If running locally, you might need a service account key for admin sdk
FIREBASE_SERVICE_ACCOUNT_KEY=

# Frontend Configuration
VITE_ZAKS_PERSONAL_EMAIL_ADDRESS=z4kbrindle@gmail.com
VITE_FIREBASE_VAPID_KEY=
