/* You can add truly global styles here */
body {
  margin: 0;
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #1f2937; /* text-gray-800 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}